<!-- About Section -->
<section id="about" class="container content-section">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <h2>About</h2>
            <p>My name is Ryan.
							I'm a 4th year Computer Science major at UC Davis planning to
							graduate in Fall 2017 (December). I am also minoring in
							Japanese. English is my native language but I know a fair
							amount of Japanese through years of exposure to the language.
							I also had the opportunity to study abroad in Kyoto, Japan
							during Spring 2016. My future	goal is to work in the game
							development industry.
						</p>
				</div>
				<div class="col-lg-10 col-lg-offset-1">
      		<h3>Education</h3>
      		<h5>University of California, Davis</h5>
      		<ul>
            <li><i class="fa fa-graduation-cap"></i> Computer Science B.S. w/ Japanese Minor</li>
            <li><i class="fa fa-calendar"></i> September 2015 - December 2017</li>
					</ul>
					<br>
					<h5>American River College</h5>
      		<ul>
            <li><i class="fa fa-graduation-cap"></i> Computer Science A.S.</li>
						<li><i class="fa fa-graduation-cap"></i> General Science A.S.</li>
						<li><i class="fa fa-graduation-cap"></i> Mathematics A.S.</li>
            <li><i class="fa fa-calendar"></i>  ~June 2015</li>
					</ul>
				</div>
    </div>
</section>
