<!-- About Section -->
<section id="about" class="container content-section">
	<div class="row">
		<div class="col-lg-10 col-lg-offset-1">
			<h2>About</h2>
			<p>
				Paragragh
			</p>
		</div>
		<div class="col-lg-10 col-lg-offset-1">
			<h3>Experience</h3>
			<h5>Some Job</h5>
			<ul>
				<li><i class="fa fa-calendar"></i>2018-Current</li>
			</ul>
			<br/>
		</div>
		<div class="col-lg-10 col-lg-offset-1">
			<h3>Education</h3>
			<h5>University of California, Davis</h5>
			<ul>
				<li>
					<i class="fa fa-graduation-cap"></i> Computer Science B.S. w/ Japanese
					Minor
				</li>
				<li><i class="fa fa-calendar"></i> September 2015 - December 2017</li>
			</ul>
			<br />
			<h5>American River College</h5>
			<ul>
				<li><i class="fa fa-graduation-cap"></i> Computer Science A.S.</li>
				<li><i class="fa fa-graduation-cap"></i> General Science A.S.</li>
				<li><i class="fa fa-graduation-cap"></i> Mathematics A.S.</li>
				<li><i class="fa fa-calendar"></i> ~June 2015</li>
			</ul>
		</div>
	</div>
</section>